<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/favicon') %>
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %>: <%= genre.genre %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>Genres > <%= title %> > <%= genre.genre %></h1>
    <%- include('../partials/errors') %>
    <%- include('../partials/dupes') %>
    <form action="/genres/<%= genre.url_path %>/edit" method="POST">
      <p>
        <label for="genre">Genre name:</label>
        <input
          type="text"
          id="genre"
          name="genre"
          value="<%= genreInputValue %>"
          required
        />
      </p>
      <p>
        <label for="password">Admin password:</label>
      </p>
      <p>
        <input type="password" id="password" name="password" required />
      </p>
      <button>Submit</button>
    </form>
    <p><a href="/genres/<%= genre.url_path %>">&lt;&lt; Back to genre</a></p>
  </body>
</html>
