<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/favicon') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>Genres > <%= title %></h1>
    <% if (movies.length > 0) { %>
      <ul>
        <% movies.forEach((movie) => { %>
          <li>
            <a href="/movies/<%= movie.url_path %>"><%= movie.title %></a>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No movies in stock for this genre.</p>
    <% } %>
    <a href="/genres">&lt;&lt; All genres</a>
  </body>
</html>
