<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/favicon') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1><%= title %></h1>
    <%- include('../partials/errors') %>
    <%- include('../partials/dupes') %>
    <form action="/studios/add-studio" method="POST">
      <p>
        <label for="studio">Studio name:</label>
        <input type="text" id="studio" name="studio" required />
      </p>
      <button>Submit</button>
    </form>
    <br>
    <a href="/studios">&lt;&lt; Back to all studios</a>
  </body>
</html>
