<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/favicon') %>
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>Studios > <%= title %></h1>
    <%- include('../partials/errors') %>
    <%- include('../partials/dupes') %>
    <form action="/studios/add-studio" method="POST">
      <p>
        <label for="studio">Studio name:</label>
        <input type="text" id="studio" name="studio" value="<%= studioValue %>" required />
      </p>
      <p>
        <label for="password">Admin password:</label>
      </p>
      <p>
        <input type="password" id="password" name="password" required />
      </p>
      <button>Submit</button>
    </form>
    <p><a href="/studios">&lt;&lt; All studios</a></p>
  </body>
</html>
