<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/favicon') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1><%= title %></h1>
    <ul>
      <% studios.forEach((studio) => { %>
        <li>
          <a href="/studios/<%= studio.url_path %>"><%= studio.studio %></a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
