<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/favicon') %>
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <% if (missingDataMovies) { %>
      <p><span class="missing-data"><strong>Alert:</strong></span> you have movies with missing data. Please update the appropriate fields for the movie(s) below:</p>
      <ul>
        <% missingDataMovies.forEach((movie) => { %>
          <li>
            <a href="/movies/<%= movie.url_path %>">***<%= movie.title %></a>
          </li>
        <% }); %>
      </ul>
    <% } %>
    <h1><%= title %></h1>
    <a href="/movies/add-movie"><button>+ Add movie</button></a>
    <form action="/movies" method="GET">
      <p>
        <label for="search">Search for a movie:</label>
        <input type="text" name="search" id="search" value="<%= searchInputValue %>" />
        <button>Search</button>
      </p>
    </form>
      <% if (searchResults.length > 0) { %>
        <h2>Search results:</h2>
        <ul>
          <% searchResults.forEach((movie) => { %>
            <% if (movie.genre_1_id === 1 || movie.studio_id === 1) { %>
              <li>
                <a href="/movies/<%= movie.url_path %>">***<%= movie.title %></a>
              </li>
            <% } else { %>
              <li>
                <a href="/movies/<%= movie.url_path %>"><%= movie.title %></a>
              </li>
            <% } %>
          <% }); %>
        </ul>
        <p><a href="/movies">&lt;&lt; All movies</a></p>
      <% } else { %>
        <h2>No search results found.</h2>
        <p>Try a different search above, or <a href="/movies">go back to all movies.</a></p>
      <% } %>
  </body>
</html>
